<div class="container">
  <h1>Please, leave your feedback</h1>
  <ul class="btn-list">
    <li id="{{ i }}" *ngFor="let e of feedbacksArray; let i = index">
      <app-button
        (onFeedbackClick)="updateFeedback($event)"
        [feedbackType]="e"
      ></app-button>
    </li>
  </ul>
  <h2>Statistic</h2>
  <ul *ngIf="good !== 0 || neutral !== 0 || bad !== 0; else noFeedbacks">
    <li *ngFor="let f of feedbacksArray">
      <p>{{ f }}: {{ this[f] }}</p>
    </li>
    <li>
      <p>Positive feedbacks: {{ countPositiveFeedbackPercentage() }}%</p>
    </li>
  </ul>
  <ng-template #noFeedbacks>
    <h2>You have not leaved any feedback yet.</h2>
  </ng-template>
</div>
